body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: right;
  background-image: url(IMG_2097.JPG);
  background-size: cover;
}

.container{
  perspective: 320px;
}

.btn{
  display: block;
  margin: 55px 0;
  width: 240px;
  height: 90px;
  border: none;
  background-color: #87a47e;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: .3s linear;
}

.btn1:hover{
  transform: rotateX(15deg);
  box-shadow: 0 15px 15px #4c4d4d90;
}

.btn2:hover{
  transform: rotateX(-15deg);
  box-shadow: 0 -15px 15px #4c4d4d90;
}

.btn3:hover{
  transform: rotateY(15deg);
  box-shadow: -15px 0px 15px #4c4d4d90;
}

.btn4:hover{
  transform: rotateY(-15deg);
  box-shadow: 15px 0 15px #4c4d4d90;
}

