body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  align-items: center;
  justify-content: right;
  background-image: url(IMG_2110.JPG);
  background-size: cover;
}
.wl-nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #333; /* Dark background for visibility */
}

.top-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btn {
  background: none;
  border: 1px solid white; /* 可以视觉上看起来像按钮 */
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block; /* 保持按钮的内联块级特性 */
  cursor: pointer;
}

.btn:hover {
  background-color: grey; /* 鼠标悬停时的背景颜色改变 */
}


.btn a {
  color: white;
  text-decoration: none;
}


.container{
  perspective: 320px;
}



